.nav {
    display: flex ;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-between;
    
}

.sec {
    display: block;
    max-width: 500px;
    align-items: center;
    background-color: gray;
    height: 350px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    
}

body , ul , li , a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    
}

.sec  ul li{
    margin-top: 20px;
    padding: 7px;
}

body{
    background-color: darkslategray;
}
